.menuContainer {
  position: absolute;
  z-index: 9999;
  width: 500px;
  background-color: transparent;
  transform: translateY(-21px);
  display: flex;
  flex-direction: column;
}

.entryContainer {
    /* position: absolute; */
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ccc; /* Lighter border color */
    padding: 10px; /* Increased padding for better spacing */
    z-index: 9999;
    max-height: 141px;
    overflow-y: auto;
    border-radius: 10px; /* Slightly increased border radius for softer edges */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft box shadow for depth */
  }
  
  /* Define the styles for the scrollbar track */
  .entryContainer::-webkit-scrollbar-track {
    background-color: #f9f9f9; /* Same as container background */
    border-radius: 10px; /* Same as container border radius */
  }
  
  /* Define the styles for the scrollbar thumb */
  .entryContainer::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Same as container border radius */
  }
  
  /* Define the styles for the scrollbar corner */
  .entryContainer::-webkit-scrollbar-corner {
    background-color: transparent; /* Hide scrollbar corner */
  }

.entry {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 8px 12px; /* Increased padding for better spacing */
    border-bottom: 1px solid #e0e0e0; /* Subtle border between definitions */
  }  

.entry:hover {
    background-color: #e6e6e6;
}

.selectedWord {
    font-weight: bold;
    color: royalblue;
    font-style: italic;
}

.selectedWord:hover {
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: right;
  }
  
  .tab {
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Add box shadow */
    color: black;
  }
  
  .tab.active {
    background-color: #f9f9f9;
  }